body {
  background-color: teal;
}

h1 {
  color: pink;
}

#call-api {
  background-color: pink;
  border-radius: 5px;
  border: 2px solid teal;
  height: 30px;
}

#call-api:active {
  background-color: teal;
}

/* change the styles in this file to whatever you want */
